<template id="list">
	<div>
		<div class="common_container">
			<div class="videolist_container_inner " v-if="MOVIES">
				<div class="g-col" v-for="(mov,index) in MOVIES">
					<div class="g-box" @click="showMovie(mov)">
						<div class="categorypack_yk_pack_v" type="vertical">
							<div class="categorypack_pack_cover"><a><img class="lazy" v-lazy="mov.vod_pic.replace('http://','https://')">
									<div class="categorypack_bg"></div><span class="categorypack_p_rb"><span></span></span>
								</a></div>
							<div class="categorypack_info_list">
								<div class="categorypack_title categorypack_short_title"><a>{{mov.vod_name}}</a></div>
								<div class="categorypack_subtitle"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="preloading-container" v-if="loading">
				<div class="preloading-layer">
					<div class="">
						<p>加载中...</p>
						<div class="h5-layer-loading">
							<div class="spinner1">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</template>
<script>
	var List = Vue.extend({
		template: "#list",
		watch: {
			$route(to, from) {
				this.init();
			}
		},
		methods: {
			init() {
				this.cid = this.$route.params.cid;
				this.page = 1;
				this.MOVIES = null;
				this.loadMovie();
				for(var i=0;i<CIDS.length;i++){
					if(CIDS[i].cid==this.cid){
						document.title=CIDS[i].name+"-iMovie";
						break;
					}
				}
			},
			loadMovie() {
				this.loading=true;
				var self = this;
				loadMovies(this.cid, this.page, (data) => {
					self.loading=false;
					if (self.MOVIES == null) {
						self.MOVIES = data.data;
					}else{self.MOVIES = self.MOVIES.concat(data.data);}
				}, true);
			},
			scroll() {
				var self = this;
				window.onscroll = () => {
					let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
					if (bottomOfWindow) {
						self.page = self.page + 1;
						this.loadMovie();
					}
				};
			},
			showMovie(mv){
				curPlayMovie=mv;
				this.$router.push({ path: '/play/'+mv.vod_id+"/"+mv.vod_name });
			}
		},
		created() {
			this.init();
		},
		mounted() {
			this.scroll();
		},
		data() {
			return {
				loading:false,
				cid: null,
				page: 1,
				MOVIES: null,
			}
		}
	});
</script>
