<template id="play">
	<div>
		<div class="l-container">
			<div class="module-playbox">
				<div class="playbox">
					<div class="play-paction-wrap" :style="hideList?'width:100%':''">
						<div class="unfold-wrap" @click="hideList=!hideList">
							<div class="arrow-wrap" :title="hideList?'展开列表':'收起列表'">
								<div class="arrow"><span class="iconfont " :class="hideList?'iconzhankaijiantou-xia':'iconzhankaijiantou-shang'"></span></div>
							</div>
						</div>
						<div class="playarea">
							<div id="playerBox">
								<div id="player">
									<div id="ykPlayer" class=" ykplayer-dashboard-hidden" tabindex="-1">
										<div class="h5-layer-conatiner" role="Layers">
											<div class="preloading-layer blackbg" >
												<div class="preloading-container">
													<div class="h5-layer-loading">
														<div class="spinner1">
															<div class="bounce1"></div>
															<div class="bounce2"></div>
															<div class="bounce3"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="subtitle-container"></div>
										</div>
										<iframe v-if="videoUrl" border="0" src="about:blank" :src="videoUrl" style="width: 100%; height: 100%; position: absolute;"
										 width="100%" height="100%" marginWidth="0" frameSpacing="0" marginHeight="0" frameBorder="0" scrolling="no"
										 vspale="0" noResize allowfullscreen="true" allowtransparency="true"></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="listbox" v-show="!hideList">
						<div class="anthology-wrap scroll-area" v-if="movie">
							<div class="right-title-wrap" id="module_basic_dayu_sub" >
								<div class="normal-title-wrap">
									<img v-lazy="movie.vod_pic" style="width: 270px;height: 337px;"/>
									<div class="thesis-wrap"><a class="title-link ellipsis-style">{{vname}}</a></div>
									<div class="title-info">
										<p>类型：<span>{{movie.list_name}}</span></p>
										<p>更新时间：<span>{{movie.vod_addtime}}</span></p>
									</div>
								</div>
							</div>
							<div class="">
								<div class="anthology-content-scroll" style="padding-left: 6px;">
									<div>
										<div class="top-manu-wrap"><span class="top-component-title">选集</span>
										<div style="float: right;cursor: pointer;" @click="refresh">
											<img src="./image/refresh.svg" class="refresh-ico"/>
											<span>点击获取刷新</span>
										</div>
										</div>
									</div>
									<div>
										<div class="anthology-content">
											<a class="box-item" :title="vname+' '+p.name" @click="playMov(p)" v-for="p in playlist">
												<div class="current-mask"  v-if="hisSee==p.name"><span class="iconfont iconTriangle" style="font-size:14px;color:#24A5FF;padding:1px"></span></div>
												<div class="box-mark" v-else><span class="label-text">{{p.name}}</span></div>
											</a>
										</div>
									</div>
									
									<div style="margin-top: 20px;">
										<div class="title-info">
											<p>演员：<span>{{movie.vod_actor}}</span></p>
											<p>导演：<span>{{movie.vod_director}}</span></p>
											<p>上映：<span>{{movie.vod_year}} {{movie.vod_area}} {{movie.vod_language}}</span></p>
										</div>
										<p class="component-title">剧情介绍</p>
										<div class="anthology-content">
											{{movie.vod_content}}
										</div>
										<br/><br/><br/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	var Play = Vue.extend({
		template: "#play",
		watch: {
			$route(to, from) {
				this.init();
			}
		},
		methods: {
			init() {
				this.vid = this.$route.params.vid;
				this.vname = this.$route.params.vname;
				this.hisSee="";
				this.videoUrl=null;
				this.playlist=null;
				if (curPlayMovie != null) {
					this.movie = curPlayMovie;
					this.play();
				} else {
					refreshMoives(this.vid, this.vname, (data) => {
						this.movie = data;
						this.play();
					})
				}
			},
			refresh(){
				refreshMoives(this.vid, this.vname, (data) => {
					this.movie = data;
					saveMovie(this.movie);
				})
			},
			play() {
				console.log( this.movie);
				saveMovie(this.movie)
				var movie = this.movie;
				if (movie.vod_url != undefined) {
					var vod_urls = movie.vod_url.split("$$$");
					if (vod_urls.length > 0) {
						vod_urls = vod_urls[0].split(/\r\n/);
						var firstUrl = vod_urls[0].split("$");
						this.hisSee = firstUrl[0];
						if (vod_urls.length > 1) {
							var hisSee= queryProgress(movie.vod_id);
							if(hisSee!=""){
								this.hisSee =hisSee;
							}
						}
						var playlist = [];
						for (var _index = 0; _index < vod_urls.length; _index++) {
							var _urls = vod_urls[_index].split("$");
							var vod={
								name: _urls[0],
								url: _urls[1]
							};
							if (this.hisSee == _urls[0]) {
								this.playMov(vod);
							}
							playlist.push(vod);
						}
						this.playlist = playlist;
					}
				}
			},
			playMov(vod){
				this.hisSee=vod.name;
				this.videoUrl=playMovie(vod.url);
				document.title=this.vname+" "+vod.name+"-iMovie";
				setProgress(this.vid,vod.name);
			}
		},
		created() {
			this.init();
		},
		data() {
			return {
				hisSee: "",
				hideList:false,
				videoUrl: null,
				vid: null,
				vname: null,
				movie: null,
				playlist: null
			}
		}
	});
</script>
