<template id="search">
	<div>
		<div class="common_container">
			<div class="videolist_container_inner " v-if="MOVIES">
				<div class="g-col" v-for="(mov,index) in MOVIES">
					<div class="g-box" @click="showMovie(mov)">
						<div class="categorypack_yk_pack_v" type="vertical">
							<div class="categorypack_pack_cover"><a><img class="lazy" v-lazy="mov.vod_pic.replace('http://','https://')">
									<div class="categorypack_bg"></div><span class="categorypack_p_rb"><span></span></span>
								</a></div>
							<div class="categorypack_info_list">
								<div class="categorypack_title categorypack_short_title"><a>{{mov.vod_name}}</a></div>
								<div class="categorypack_subtitle"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="preloading-container" v-if="loading">
				<div class="preloading-layer">
					<div class="">
						<p>加载中...</p>
						<div class="h5-layer-loading">
							<div class="spinner1">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</template>
<script>
	var Search = Vue.extend({
		template: "#search",
		watch: {
			$route(to, from) {
				this.init();
			}
		},
		methods: {
			init() {
				this.wd = this.$route.params.wd;
				this.page = 1;
				this.MOVIES = null;
				this.nomore=false;
				this.loadMovie();
				document.title="搜索 "+this.wd+"-iMovie";;
			},
			loadMovie() {
				if(this.nomore){
					return;
				}
				this.loading=true;
				var self = this;
				searchMovies(this.wd, this.page, (data) => {
					self.loading=false;
					var _movies=[];
					if(data.data.length<30){
						this.nomore=true;
					}
					for(var i=data.data.length-1;i>=0;i--){
						if(CIDLIST.contains(data.data[i].vod_cid)){
							_movies.unshift(data.data[i]);
						}
					}
					if (self.MOVIES == null) {
						self.MOVIES = _movies;
					}else{self.MOVIES = self.MOVIES.concat(_movies);}
				}, false);
			},
			scroll() {
				var self = this;
				window.onscroll = () => {
					let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
					if (bottomOfWindow) {
						self.page = self.page + 1;
						this.loadMovie();
					}
				};
			},showMovie(mv){
				curPlayMovie=mv;
				this.$router.push({ path: '/play/'+mv.vod_id+"/"+mv.vod_name });
			}
		},
		created() {
			this.init();
		},
		mounted() {
			this.scroll();
		},
		data() {
			return {
				nomore:false,
				loading:false,
				wd: null,
				page: 1,
				MOVIES: null,
			}
		}
	});
</script>
