body{background:#000}.fill{z-index: 999; width:100%;height:100%;}.clock{position:absolute;opacity:1}.fill .clock{left:50%;top:50%}.centre{position:absolute;top:50%;left:50%;width:0;height:0}.expand{position:absolute;top:0;left:0;transform:translate(-50%,-50%)}.anchor{position:absolute;top:0;left:0;width:0;height:0}.element{position:absolute;top:0;left:0}.round{border-radius:296px}.circle-1{background:#fff;width:12px;height:12px}.circle-2{background:#fa9f22;width:8px;height:8px}.circle-3{background:#000;width:4px;height:4px}.second{transform:rotate(180deg)}.minute{transform:rotate(54deg)}.second-hand{width:2px;height:164px;background:#fa9f22;transform:translate(-50%,-100%) translateY(24px)}.hour{transform:rotate(304.5deg)}.thin-hand{width:4px;height:50px;background:#fff;transform:translate(-50%,-100%)}.fat-hand{width:10px;height:57px;border-radius:10px;background:#fff;transform:translate(-50%,-100%) translateY(-18px)}.minute-hand{height:112px}.hour-text{position:absolute;font:40px Hei,Helvetica,Arial,sans-serif;color:#fff;transform:translate(-50%,-50%)}.hour-10{padding-left:.4ex}.hour-11{padding-left:.25ex}.minute-text{position:absolute;font:12px Avenir Next,Helvetica,Arial,sans-serif;color:#fff;transform:translate(-50%,-50%)}.minute-line{background:#fff;width:1px;height:9px;transform:translate(-50%,-100%) translateY(-131px);opacity:.34}.reference{color: #fff;text-align: center;margin-top: 68px;font-size: 27px;font-family: cursive;}
html, body {
    background-color: #efeff4;
    color: #f4a502;
}
p {
    text-indent: 22px;
}
span.mui-icon {
    font-size: 14px;
    color: #007aff;
    margin-left: -15px;
    padding-right: 10px;
}
.title {
    margin: 35px 15px 10px;
}
.title+.content {
    margin: 10px 15px 35px;
    color: #bbb;
    text-indent: 1em;
    font-size: 14px;
    line-height: 24px;
}
.mui-off-canvas-left, .mui-off-canvas-right{max-width: 300px;}
.mui-views, .mui-view, .mui-pages, .mui-page, .mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}
.mui-pages {
    top: 46px;
    height: auto;
}
.mui-page.mui-transitioning {
    -webkit-transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}
.mui-page-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}
.mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #333;
}
.mui-navbar .mui-bar {
    position: absolute;
    background: transparent;
    text-align: center;
}
.mui-android .mui-navbar-inner.mui-navbar-left {
    opacity: 0;
}
.mui-ios .mui-navbar-left .mui-left, .mui-ios .mui-navbar-left .mui-center, .mui-ios .mui-navbar-left .mui-right {
    opacity: 0;
}
.mui-navbar .mui-btn-nav {
    -webkit-transition: none;
    transition: none;
    -webkit-transition-duration: .0s;
    transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
    display: inline-block;
    width: auto;
}
.mui-page-shadow {
    position: absolute;
    right: 100%;
    top: 0;
    width: 16px;
    height: 100%;
    z-index: -1;
    content:'';
}
.mui-page-shadow {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}
.mui-navbar-inner.mui-transitioning, .mui-navbar-inner .mui-transitioning {
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease;
}
.mui-page {
    display: none;
}
.mui-pages .mui-page {
    display: block;
}
.mui-page .mui-table-view:first-child {
    margin-top: 15px;
}
.mui-page .mui-table-view:last-child {
    margin-bottom: 30px;
}
.mui-table-view {
    margin-top: 20px;
}
.mui-table-view span.mui-pull-right {
    color: #999;
}
.mui-table-view-divider {
    background-color: #efeff4;
    font-size: 14px;
}
.mui-table-view-divider:before, .mui-table-view-divider:after {
    height: 0;
}
.head {
    height: 40px;
}
#head {
    line-height: 40px;
}
.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-ios .mui-navbar .mui-bar .mui-title {
    position: static;
}
.mui-views, .mui-view, .mui-pages, .mui-page, .mui-page-content, .mui-content {
    background-color: #333;
}
input, .mui-title, .mui-bar .mui-btn-link, span.mui-icon, #offCanvasBtn {
    color: #f4a502;
}
input[type=search] {
    background-color: rgba(185, 184, 184, 0.1);
}
.mui-card {
    width: 112px;
    height: 150px;
    display: inline-block;
    background-color: #333;
    margin: 10px 0 0 0;
}
.mui-card img {
    width:100%
}
.mui-card-content-inner {
    padding:0
}
.mui-card-footer {
    color: #a7a7a7;
    position: absolute;
    display: block;
    bottom: 0;
    background: #000000b3;
    width: 100%;
    min-height: 15px;
    line-height: 15px;
    padding: 2px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mui-card-footer:before, .mui-card-header:after {
    background-color: rgba(0, 0, 0, 0);
}
.moivecontent {
    text-align: center;
}
.moivecontent ul {
    list-style: none;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    margin-top: 0;
}
.moivecontent li {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    text-align: center;
}
.loading {
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    position: absolute;
    top: 40%;
    z-index: 9999;
    width: 100%;
    text-align: center;
}
.loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: #986702;
    -webkit-animation: load 1s ease infinite;
    animation: load 1s ease infinite;
}
@-webkit-keyframes load {
    0%, 100% {
        height: 40px;
        background: #986702;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: #f4a502;
    }
}
.loading span:nth-child(2) {
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}
.loading span:nth-child(3) {
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}
.loading span:nth-child(4) {
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s;
}
.loading span:nth-child(5) {
    -webkit-animation-delay:0.8s;
    animation-delay:0.8s;
}
.moreloading {
    height: 8px;
    margin: 0 auto;
    margin-top:0px;
    width:100%;
    text-align: center;
}
.moreloading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background: #f4a502;
    -webkit-animation: moreload 1.04s ease infinite;
}
.moreloading span:last-child {
    margin-right: 0px;
}
@-webkit-keyframes moreload {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.moreloading span:nth-child(1) {
    -webkit-animation-delay:0.13s;
}
.moreloading span:nth-child(2) {
    -webkit-animation-delay:0.26s;
}
.moreloading span:nth-child(3) {
    -webkit-animation-delay:0.39s;
}
.moreloading span:nth-child(4) {
    -webkit-animation-delay:0.52s;
}
.moreloading span:nth-child(5) {
    -webkit-animation-delay:0.65s;
}
.mui-mask {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    background: rgba(0, 0, 0, .4);
}
.mui-navbar-left {
    opacity: 0;
}
.player {
    background: #000;
    display: block;
    height: 211px;
}
.player iframe {
    position: absolute;
}
.playloading {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top:20%;
    position: absolute;
    text-align: center;
}
.playloading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: #986702;
    -webkit-animation: playload 1.04s ease infinite;
}
@-webkit-keyframes playload {
    0%, 100% {
        height: 40px;
        background: #986702;
    }
    50% {
        height: 60px;
        margin-top: -20px;
        background: #f4a502;
    }
}
.playloading span:nth-child(2) {
    -webkit-animation-delay:0.13s;
}
.playloading span:nth-child(3) {
    -webkit-animation-delay:0.26s;
}
.playloading span:nth-child(4) {
    -webkit-animation-delay:0.39s;
}
.playloading span:nth-child(5) {
    -webkit-animation-delay:0.52s;
}
.desc {
    margin-top: 10px;
}
.desc p {
    text-indent: 0px;
    margin-bottom: 0px;
}
.desc p span {
    color: #8f8f94!important;
}
.playlist {
    display: block;
    overflow: auto hidden;
    width: 93%;
}
.playlist ul {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    margin: 10px 0;
}
.playlist ul li {
    flex-shrink: 0;
    line-height: 26px;
    padding: 0 5px;
    background: #333;
    font-size: 12px;
    border: 1px solid;
    margin-right:5px;
}
.playlist ul li.current {
    background: #fff;
}
.playlist ul li a {
    color: #f4a502;
}
